#usernameHeader {
    text-decoration: underline;
    color: inherit;
}

#usernameHeader:hover {
    color: rgb(132, 195, 250)
}

#titleWrapper {
    font-size: x-large;
    margin: 3vh 0;
}

#contentWrapper {
    line-height: normal;
    white-space: pre-wrap;
    padding-bottom: 2rem;
}