#loginFormWrapper {
    width: 100%;
    height: 100%;
}

#loginForm > input, button {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 40%;
}

#loginForm {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 0.4fr 0.4fr 0.2fr;
    gap: 1rem;
}

#loginForm > label{
    grid-column: 1;
    align-items: center;
    justify-content: end;
}

#loginForm > input {
    grid-column: 2;
    padding: 0.75rem;
}

#loginForm > button {
    grid-column: span 2;
    width: 4%;
    padding: 0.75rem;
    justify-self: center;
}

