#registerFormWrapper {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#registerForm {
    display: grid;
    grid-template-columns: 0.1fr 0.9fr;
    grid-template-rows: repeat(5, 0.2fr);
    gap: 2rem;
}

#registerForm > input {
    padding-left: 1rem;
    height: 100%;
}

#registerForm > button {
    padding-left: 1rem;
    grid-column: 2;
    height: 50%;
    align-items: center;
}