#searchUserFormWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#searchUserForm {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 50%;
    width: 100%;
}

#searchUserForm > input, button {
    margin: 3rem;
    margin-top: 0;
    align-self: center;
}

#searchUserForm > input {
    height: 5%;
    padding-left: 1rem;
}

#searchUserForm > button {
    width: 10%;
    height: 10%;
}