

#formWrapper {
    width: 100%;
    height: 100%;
}

#createBlogForm {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.1fr 0.9fr;
    grid-template-rows: 0.2fr 0.6fr 0.2fr;
    gap: 1rem;
    padding-top: 3rem;
}

#titleLabel {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contentLabel {
    grid-column: 1;
    grid-row: 2;
}


#titleInput {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    align-self: center;
    padding-left: 1.5rem;
}

#contentTextarea {
    grid-column: 2;
    grid-row: 2;
    padding: 1.5rem;
    white-space: pre-line;
    resize: none;
    scrollbar-width: none;
}

#checkBoxAndButtonWrapper {
    grid-column: span 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
}

#isPublishedLabel {
    grid-column: 1;
    grid-row: 1;
}

#isPublishedCheckBox {
    grid-column: 1;
    grid-row: 2;
    height: 50%;
    align-self: start;
}

#createButton {
    grid-column: 2;
    grid-row: span 2;
    height: 50%;
    width: 50%;
    align-self: center;
    justify-self: center;
}