input, textarea, button {
    color: rgb(5, 5, 92);
    border-radius: 3rem;
    border: none;
}

button {
    cursor: pointer;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.universalWrapper {
    display: flex;
    margin: auto;
    width: 75%;
    height: 100vh;
    grid-row: 2;
    padding: 3vw;

    /* border: thin solid red; */
}