* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: aliceblue;
}

body {
    display: grid;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
    background-color: #1A2A80;

}