#settingsPageWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.9fr 0.1fr;
    width: 100%;
    height: 100%;
}

#settingsEditForms {
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 0.2fr);
}

.editForms {
    display: grid;
    width: 50%;
    align-self: center;
    justify-self: center;
}

.editForms {
    height: 100%;
    margin: 3rem 0;
}

.editForms > input {
    padding-left: 1rem;
    height: 100%;
}

.editForms > button {
    margin-top: 1.25rem;
    width: 14%;
    height: 100%;
    text-align: center;
    align-self: center;
    justify-self: center;
}

#newLastNameInput {
    margin-top: 0.5rem;
    height: 85%;

}

#settingsDeleteForms {
    grid-row: 2;
}